@charset "utf-8";
/* CSS Document */



h1 {
  font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  rotation: 45deg;
  rotation-point: bottom left;
}
thead th {
    block-progression: rl;
    padding: 0.5em 1em;
    rotation: 45deg;
    rotation-point: bottom left }
    
h2 {
  border-bottom: solid 1px #000040;
  border-top: solid 1px #000040;
}

h3, h4, h5, h6 {
}

.center2
{
padding-top: 14%;
margin:auto;
}
.center
{
	padding-top: 10%;
	margin:auto;
	width:800px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

html, body, table {
	margin: 0;
	margin-bottom: 3em;
	font-family: "Lucida Grande", Verdana, Arial,  sans-serif;
	color: #000;
	background-color: #FFFFFF;
}
div.content {
  clear: both;
  position: absolute;
  float: left;
  margin-left: 20%;
  width: 78%;
  font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

a:link {
  color: #037;
}

a:visited {
  color: #037;
}

.clear {
  clear: both;
  /*font-size: 1px; */
}

.footer {
  clear: none;
  margin-left: 20%;
  margin-top: 1px;
  text-align: right;
  border-top: solid 3px white;
}

.footer .left {
  margin-top: 1px;
  float: left;
  text-align: left;
  width: 60%;
}

.footer .right {
  margin-top: 1px;
  float: right;
  text-align: right;
  width: 40%;
}

.spacer {
  clear: both;
}

p {
  padding: 0;
  margin-top: 0px;
  font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

dd {
  font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

dt {
  font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.navigation .links {
